[Unit]
Description=LED Aviation Map
After=network.target

[Service]
ExecStart=/app/current/bin/ledmap
StandardOutput=inherit
StandardError=inherit
Restart=always
User=map

[Install]
WantedBy=multi-user.target